<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>

    .content-container {
      background-color: rgba(195, 155, 200, 0.9);
      margin: 10px auto;
      padding: 20px;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 800px;
      width: 70%;
      border: 5px solid #8A2BE2;
      box-shadow: 0 0 10px 5px #8A2BE2;
    }

.content-container h1 {
      color: purple;
      font-size: 30px;
    }

    .content-container p {
      color: blue;
    }

    a:link {
      color: #8A2BE2;
      font-weight: bold;
    }
  </style>
</head>
<body>

  <div class="content-container">
  <h1>NEWS</h1>
        <p>Capacitação de Conhecimento em Tecnologia e História da Empresa</p>
        <p>Bem-vindo ao Programa Cilia Trainee - Desenvolvendo Conhecimento, Transformando Futuros.</p>
        <p>Programa Cilia Trainee, um sistema abrangente de capacitação de conhecimento em tecnologia e história da empresa.</p>
        <p>Esse programa foi criado para impulsionar o aprendizado contínuo dos colaboradores e proporcionar uma jornada de crescimento profissional</p>
        <p>O Programa oferece material de estudo em diversas linguagens de programação essenciais para o mundo da tecnologia, incluindo:</p>
        <p>* Ruby * Java * Javascript * HTML * CSS *</p>
        <p>Além disso, nosso sistema também abrange a rica história da nossa empresa, permitindo que os participantes se aprofundem na cultura e nos valores que nos tornam quem somos hoje.</p>
        <p>Oportunidade de fixar o conhecimento adquirido e aprimorar suas habilidades em um ambiente estimulante e desafiador.
        O Programa Cilia Trainee representa o compromisso da Cilia Tecnologia em fornecer recursos de aprendizado de alta qualidade, promovendo o crescimento profissional e impulsionando o sucesso individual e coletivo de nossos colaboradores.
        Acreditamos que investir em capacitação é essencial para mantermos nossa excelência tecnológica e fortalecer ainda mais nossa equipe.
        Unindo a paixão por tecnologia com a dedicação ao desenvolvimento de nossos talentos, o Programa Cilia Trainee é uma jornada enriquecedora para todos os envolvidos.
        Convidamos você a fazer parte dessa incrível experiência de aprendizado e crescimento na Cilia Tecnologia.</p>
</body>
</html>
