<h1>Notícias e Assuntos Diversos</h1>
<p>Aqui você encontrará várias notícias e assuntos interessantes.</p>

<% content_for :footer_content do %>
  FOOTER DO NEWS <!-- Conteúdo específico para o footer da página begin -->
<% end %>
